[Desktop Entry]
Version=1.0
Type=Link
Name=pycharm-community-2025-URL
Comment=Прямая ссылка на последнюю комьюнити версию
Icon=/home/mag137/pycharm-community-2025.2.5/bin/pycharm.png
URL=https://download.jetbrains.com/python/pycharm-community-2025.2.5.tar.gz
